[submodule "libs/unordered"]
	path = libs/unordered
	url = https://github.com/whisper67265/unordered.git
	branch = local-zh_Hans
[submodule "libs/json"]
	path = libs/json
	url = https://github.com/whisper67265/json.git
	branch = local-zh_Hans
